.nav-color{
 background-color: #1c151b
 
}
.wd{
font-size: 20px;


}

.image{
background-color: rgb(231, 76, 135)
}
.inicio{
 position: absolute;
 background-image: url('https://static.vix.com/es/sites/default/files/styles/large/public/imj/cabello_fuerte13.jpg?itok=OjkbTClA');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100vh;
 font-size: 55px;
 color: black;
 font-family:Finger;

}
.texthome{
  font-size: 30px;
 margin-left: 5%;
  
}



.center{  
 margin-left: auto;
 margin-right: auto;
 display: block;
 width: 80%;
 height: 100vh;
}


.skills{
 background: white;

}
.circle{
 border-radius: 50%;
 margin: 5%;
 background-color: aliceblue;
 text-align: center;
 display: inline-block;
}
.mr-logo{
  margin-left: 35px;

}

/* efecto para la presentación*/



